MTConnect.TypeDictionary.XML.xml

<?xml version='1.0' encoding='UTF-8'?>
<xs:schema xmlns:xs='http://www.w3.org/2001/XMLSchema' xmlns:ua='http://opcfoundation.org/UA/2008/02/Types.xsd' xmlns:mtc='http://opcfoundation.org/UA/MTConnect/v2//Types.xsd' targetNamespace='http://opcfoundation.org/UA/MTConnect/v2//Types.xsd' elementFormDefault='qualified'>
  <xs:import namespace='http://opcfoundation.org/UA/2008/02/Types.xsd'/>
  <xs:complexType name='AssetEventDataTypeDataType'>
    <xs:sequence>
      <xs:element name='AssetId' type='xs:string' minOccurs='1' maxOccurs='1'/>
      <xs:element name='AssetType' type='xs:string' minOccurs='1' maxOccurs='1'/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name='AssetEventDataType' type='mtc:AssetEventDataTypeDataType'/>
  <xs:simpleType name='MTCategoryTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='EVENT'/>
      <xs:enumeration value='CONDITION'/>
      <xs:enumeration value='SAMPLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='MTCategoryType' type='mtc:MTCategoryTypeEnum'/>
  <xs:simpleType name='MTCoordinateSystemTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='MACHINE'/>
      <xs:enumeration value='WORK'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='MTCoordinateSystemType' type='mtc:MTCoordinateSystemTypeEnum'/>
  <xs:simpleType name='MTRepresentationTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='DISCRETE'/>
      <xs:enumeration value='TIME_SERIES'/>
      <xs:enumeration value='VALUE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='MTRepresentationType' type='mtc:MTRepresentationTypeEnum'/>
  <xs:simpleType name='MTResetTriggerTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTION_COMPLETE'/>
      <xs:enumeration value='ANNUAL'/>
      <xs:enumeration value='DAY'/>
      <xs:enumeration value='MAINTENANCE'/>
      <xs:enumeration value='MANUAL'/>
      <xs:enumeration value='MONTH'/>
      <xs:enumeration value='POWER_ON'/>
      <xs:enumeration value='SHIFT'/>
      <xs:enumeration value='WEEK'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='MTResetTriggerType' type='mtc:MTResetTriggerTypeEnum'/>
  <xs:simpleType name='MTStatisticTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='AVERAGE'/>
      <xs:enumeration value='MAXIMUM'/>
      <xs:enumeration value='MEDIAN'/>
      <xs:enumeration value='MINIMUM'/>
      <xs:enumeration value='MODE'/>
      <xs:enumeration value='RANGE'/>
      <xs:enumeration value='ROOT_MEAN_SQUARE'/>
      <xs:enumeration value='STANDARD_DEVIATION'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='MTStatisticType' type='mtc:MTStatisticTypeEnum'/>
  <xs:complexType name='MessageDataTypeDataType'>
    <xs:sequence>
      <xs:element name='NativeCode' type='xs:string' minOccurs='1' maxOccurs='1'/>
      <xs:element name='Text' type='xs:string' minOccurs='1' maxOccurs='1'/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name='MessageDataType' type='mtc:MessageDataTypeDataType'/>
  <xs:complexType name='ThreeSpaceSampleDataTypeDataType'>
    <xs:sequence>
      <xs:element name='X' type='xs:float' minOccurs='1' maxOccurs='1'/>
      <xs:element name='Y' type='xs:float' minOccurs='1' maxOccurs='1'/>
      <xs:element name='Z' type='xs:float' minOccurs='1' maxOccurs='1'/>
    </xs:sequence>
  </xs:complexType>
  <xs:element name='ThreeSpaceSampleDataType' type='mtc:ThreeSpaceSampleDataTypeDataType'/>
  <xs:simpleType name='MTSeverityDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='FAULT'/>
      <xs:enumeration value='NORMAL'/>
      <xs:enumeration value='WARNING'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='MTSeverityDataType' type='mtc:MTSeverityDataTypeEnum'/>
  <xs:simpleType name='QualifierDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='HIGH'/>
      <xs:enumeration value='LOW'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='QualifierDataType' type='mtc:QualifierDataTypeEnum'/>
  <xs:simpleType name='ActiveStateDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTIVE'/>
      <xs:enumeration value='INACTIVE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='ActiveStateDataType' type='mtc:ActiveStateDataTypeEnum'/>
  <xs:simpleType name='AvailabilityDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='AVAILABLE'/>
      <xs:enumeration value='UNAVAILABLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='AvailabilityDataType' type='mtc:AvailabilityDataTypeEnum'/>
  <xs:simpleType name='AxisCouplingDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='MASTER'/>
      <xs:enumeration value='SLAVE'/>
      <xs:enumeration value='SYNCHRONOUS'/>
      <xs:enumeration value='TANDEM'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='AxisCouplingDataType' type='mtc:AxisCouplingDataTypeEnum'/>
  <xs:simpleType name='AxisStateDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='HOME'/>
      <xs:enumeration value='PARKED'/>
      <xs:enumeration value='STOPPED'/>
      <xs:enumeration value='TRAVEL'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='AxisStateDataType' type='mtc:AxisStateDataTypeEnum'/>
  <xs:simpleType name='CompositionStateDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTIVE'/>
      <xs:enumeration value='CLOSED'/>
      <xs:enumeration value='DOWN'/>
      <xs:enumeration value='INACTIVE'/>
      <xs:enumeration value='LEFT'/>
      <xs:enumeration value='OFF'/>
      <xs:enumeration value='ON'/>
      <xs:enumeration value='OPEN'/>
      <xs:enumeration value='RIGHT'/>
      <xs:enumeration value='TRANSITIONING'/>
      <xs:enumeration value='UNLATCHED'/>
      <xs:enumeration value='UP'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='CompositionStateDataType' type='mtc:CompositionStateDataTypeEnum'/>
  <xs:simpleType name='ControllerModeDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='AUTOMATIC'/>
      <xs:enumeration value='EDIT'/>
      <xs:enumeration value='MANUAL'/>
      <xs:enumeration value='MANUAL_DATA_INPUT'/>
      <xs:enumeration value='SEMI_AUTOMATIC'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='ControllerModeDataType' type='mtc:ControllerModeDataTypeEnum'/>
  <xs:simpleType name='DirectionDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='CLOCKWISE'/>
      <xs:enumeration value='COUNTER_CLOCKWISE'/>
      <xs:enumeration value='NEGATIVE'/>
      <xs:enumeration value='POSITIVE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='DirectionDataType' type='mtc:DirectionDataTypeEnum'/>
  <xs:simpleType name='EmergencyStopDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ARMED'/>
      <xs:enumeration value='TRIGGERED'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='EmergencyStopDataType' type='mtc:EmergencyStopDataTypeEnum'/>
  <xs:simpleType name='ExecutionDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTIVE'/>
      <xs:enumeration value='FEED_HOLD'/>
      <xs:enumeration value='INTERRUPTED'/>
      <xs:enumeration value='OPTIONAL_STOP'/>
      <xs:enumeration value='READY'/>
      <xs:enumeration value='PROGRAM_COMPLETED'/>
      <xs:enumeration value='PROGRAM_STOPPED'/>
      <xs:enumeration value='STOPPED'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='ExecutionDataType' type='mtc:ExecutionDataTypeEnum'/>
  <xs:simpleType name='FunctionalModeDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='MAINTENANCE'/>
      <xs:enumeration value='PRODUCTION'/>
      <xs:enumeration value='PROCESS_DEVELOPMENT'/>
      <xs:enumeration value='SETUP'/>
      <xs:enumeration value='TEARDOWN'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='FunctionalModeDataType' type='mtc:FunctionalModeDataTypeEnum'/>
  <xs:simpleType name='InterfaceStateDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTIVE'/>
      <xs:enumeration value='COMPLETE'/>
      <xs:enumeration value='FAIL'/>
      <xs:enumeration value='NOT_READY'/>
      <xs:enumeration value='READY'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='InterfaceStateDataType' type='mtc:InterfaceStateDataTypeEnum'/>
  <xs:simpleType name='InterfaceStatusDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='DISABLED'/>
      <xs:enumeration value='ENABLED'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='InterfaceStatusDataType' type='mtc:InterfaceStatusDataTypeEnum'/>
  <xs:simpleType name='OnOffDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='OFF'/>
      <xs:enumeration value='ON'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='OnOffDataType' type='mtc:OnOffDataTypeEnum'/>
  <xs:simpleType name='OpenStateDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='CLOSED'/>
      <xs:enumeration value='OPEN'/>
      <xs:enumeration value='UNLATCHED'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='OpenStateDataType' type='mtc:OpenStateDataTypeEnum'/>
  <xs:simpleType name='PathModeDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='INDEPENDENT'/>
      <xs:enumeration value='MASTER'/>
      <xs:enumeration value='MIRROR'/>
      <xs:enumeration value='SYNCHRONOUS'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='PathModeDataType' type='mtc:PathModeDataTypeEnum'/>
  <xs:simpleType name='ProgramEditDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='ACTIVE'/>
      <xs:enumeration value='NOT_READY'/>
      <xs:enumeration value='READY'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='ProgramEditDataType' type='mtc:ProgramEditDataTypeEnum'/>
  <xs:simpleType name='RotaryModeDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='CONTOUR'/>
      <xs:enumeration value='INDEX'/>
      <xs:enumeration value='SPINDLE'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='RotaryModeDataType' type='mtc:RotaryModeDataTypeEnum'/>
  <xs:simpleType name='YesNoDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='NO'/>
      <xs:enumeration value='YES'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='YesNoDataType' type='mtc:YesNoDataTypeEnum'/>
  <xs:simpleType name='CountDirectionDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='DOWN'/>
      <xs:enumeration value='UP'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='CountDirectionDataType' type='mtc:CountDirectionDataTypeEnum'/>
  <xs:simpleType name='CutterStatusDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='AVAILABLE'/>
      <xs:enumeration value='ALLOCATED'/>
      <xs:enumeration value='BROKEN'/>
      <xs:enumeration value='EXPIRED'/>
      <xs:enumeration value='MEASURED'/>
      <xs:enumeration value='NEW'/>
      <xs:enumeration value='NOT_REGISTERED'/>
      <xs:enumeration value='RECONDITIONED'/>
      <xs:enumeration value='UNALLOCATE'/>
      <xs:enumeration value='UNAVAILABLE'/>
      <xs:enumeration value='UNKNOWN'/>
      <xs:enumeration value='USED'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='CutterStatusDataType' type='mtc:CutterStatusDataTypeEnum'/>
  <xs:simpleType name='CuttingToolDefintionFormatDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='XML'/>
      <xs:enumeration value='EXPRESS'/>
      <xs:enumeration value='TEXT'/>
      <xs:enumeration value='UNDEFINED'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='CuttingToolDefintionFormatDataType' type='mtc:CuttingToolDefintionFormatDataTypeEnum'/>
  <xs:simpleType name='MTLocationDataTypeEnum'>
    <xs:restriction base='xs:string'>
      <xs:enumeration value='CRIB'/>
      <xs:enumeration value='POT'/>
      <xs:enumeration value='STATION'/>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name='MTLocationDataType' type='mtc:MTLocationDataTypeEnum'/>
</xs:schema>